@use "../../../../../../styles/forward.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  button {
    background: $pink;
    font-weight: 500;
    color: white;
    max-width: max-content;
    border-radius: 24px 4px;
    line-height: 29px;
    padding: toRem(8) toRem(24);
    @include adaptiveValue("font-size", 20, 18);
  }
  textarea {
    resize: none;
    background: $bgLight;
   
    border-radius: 8px;
    box-shadow: -7px -7px 14px #ffffff, 7px 7px 14px #e8e7e5;
    height: 150px;
    padding: toRem(20);
    @include adaptiveValue("width", 450, 300);
    @media (max-width: $mobile) {
      width: 90vw;
    }
  }
}
