@use "../../../../styles/forward.scss" as *;

.pagination {
  display: flex;
  align-items: center;
  gap: toRem(10);
  justify-content: center;
  font-size: toRem(28);

  .active {
    color: $pink;
  }
}
.arrow {
  font-size: toRem(30);
}
