@use "../../styles/forward.scss" as *;

.container {
  
  @include adaptiveValue("margin-bottom",80 , 40);
  h1 {
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;

    margin-bottom: toRem(30);
    @include adaptiveValue("font-size", 70, 24);
    
  }

}

.list {
  display: flex;
  gap: 10px;
  margin-bottom: toRem(70);
  border-bottom: 2px solid $braun;
 

  align-items: center;
 
  height: 44px;
  
  @media (max-width:$mobile){
  flex-direction: column;
   border: none; 
  height: auto;
   padding: 0 toRem(5);
 
  li{
    
    width: 100%;
  }
}
}


.link {
  
  line-height: 1.5;
  text-transform: capitalize;
  font-size: toRem(20);
  border: 1px solid;
  border-radius: 4px 4px 0 0;
  padding: toRem(5) toRem(10);
white-space: nowrap;
  border-bottom: none;
  transition: all 0.3s;
  @media (max-width:$mobile){
  border: 1px solid;
  border-radius: 4px;
  min-width: 100%;
  }
}
.active {
  border: 2px solid $braun;
  border-bottom: none;
  background: $bgCream;
 transform: scale3d(1, 1.1, 1);
 @media (max-width:$mobile){
  border: 1px solid $braun;
    
 }
}
