@use "../../../../styles/forward.scss" as *;

.card {
  background: $bgCream;
  padding: toRem(0) toRem(20) toRem(20) toRem(20);

  border-radius: 10px;
  text-align: center;
  width: toRem(270);
  
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: toRem(10);
  justify-content: center;
  @include adaptiveValue("width", 270, 300);
  @media (max-width:$mobileSmall){
     min-height: toRem(400); 
    
  }
  

  h6 {
    font-weight: 700;
    &::first-letter {
      text-transform: uppercase; 
    }
    @include adaptiveValue("font-size", 24, 24);
  }
  p {
    line-height: 1.2;
font-size: toRem(18);
flex: 1 0 auto;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .size {
    font-weight: 700;
    color: $braun;
    letter-spacing: 1px;
  }
  .price {
    background: #000;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   @include adaptiveValue("font-size",16 ,14 );
    @include adaptiveValue("width", 64, 35);
    @include adaptiveValue("height", 64, 35);
  }
  .img {
    position: relative;
    margin: auto;
    margin-top: -30px;
    margin-bottom: toRem(10);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
   
    width: toRem(170);
    height: toRem(170);
  }
  // .discount {
  //   text-decoration: line-through;
  //   text-decoration-color: red;
  //   position: relative;
  //   span {
  //     position: absolute;
  //     color: red;
  //     top: 5px;
  //   }
  // }
}
