@use "./mixin.scss" as *;
@use "./null.scss" as *;
@use "./variable.scss" as *;

body {
  overflow-x: hidden;

  min-height: 100vh;
display: flex;
flex-direction: column;
}
main {
 
  padding: 0 15px;
  flex: 1 0  auto;
  
  max-width: 1480px;
  margin: 0 auto;
  @media (max-width: $mobileSmall) {
    padding: 0 toRem(5);
  }
  
}
.wraper {
  flex: 1 0 auto;
}

.swiper-pagination-bullet-active {
  background: $pink !important;
}

// @media (hover: none) {
//   *:hover {
//     all: unset !important;
//   }
// }