@use "./mixin.scss" as *;
@use "./null.scss" as *;
@use "./variable.scss" as *;

body {
  overflow-x: hidden;

  height: 100%;
  
}
main {

}
.wraper {
  padding: 0 15px;
  flex: 0 0  auto;

  max-width: 1480px;
  margin: 0 auto;
  @media (max-width: $mobileSmall) {
    padding: 0 toRem(5);
  }
}

.swiper-pagination-bullet-active {
  background: $pink !important;
}
