@use "./mixin.scss" as *;
@use "./null.scss" as *;
@use "./variable.scss" as *;

body {
  overflow-x: hidden;
}
main {
  flex: 1 0 auto;
}
.wraper {
  flex-direction: column;
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width:$mobileSmall){
     padding: 0 toRem(5); 
  }
}
