@use "../../../../../../styles/forward.scss" as *;

.container {
  display: flex;

  justify-content: center;


  h6 {
    font-weight: 700;

    &::first-letter {
      text-transform: uppercase;
    }
  }
  .slide {
    display: flex;
    height: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: toRem(10);
    background: $bgLight;
    border-radius: toRem(16);
    text-align: center;
    padding: toRem(15);
    
    p {
      flex: 1 0 auto;
      margin: 0;
    }
   .image{
    position: relative;
   
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    @include adaptiveValue("width",200 ,100 );
    @include adaptiveValue("height",200 ,100 );

   }
  }
}
